.root {
    background: #ffffff;
    max-width: 1440px;
    margin: 0 auto;
    box-shadow: 0px 3px 10px 0px rgba(0, 0, 0, 0.1);
    padding: 20px;
    border-radius: 4px;
  }

  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;        
  }

  .content__links{
    display: flex;
    background: #fff;
    list-style-type: none;
    margin: 5px;
    padding: 0px 5px;
    align-items: center;
    background: #fff;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.07);
    border-radius: 4px;
  }

  .content__links :global(a){
    display: block;
    text-decoration: none;
  }

  .content__link {
    width: 100%;
    margin: 0px 4px;
    /* padding: 0px 4px 0px 4px; */
  }

  .content__linkDiv {
    display: block;
    width: 100%;
    padding: 4px 0px;
    color: #0066cc;
    border-radius: 4px;
    transition: all .3s;
    align-content: center;
    border: 3px solid #0066cc;
    text-align: center;
  }
  
  .content__linkDiv:hover {
    background: #0066cc;
    color: #fff;
    transition: all .3s;          
  }