.root {
    margin: 0 auto;
}

.landing {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  border: 3px solid red;
}

.header {
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 10px 0px 10px 0px;
}

.header__image {
  display: flex;
  align-items: center;
  border: 3px solid orange;
}

.content {
    margin-top: 40px;
}

.content__textbox p {
    font-family: 'Source Sans Pro', Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 400;
    font-size: 1em;
    margin: 20px;
    border: 3px solid green;
}

.content__button {
  margin: 15px 0px 15px 0px;
}

.content a.links__button {
  text-decoration: none;
  border: none;
  background: #239999;
  padding: 10px;
  margin: 10px;
  border-radius: 30px;
  font-size: 18px;
  color: #fff;
  cursor: pointer;
}