.root {
    margin: 0 auto;
}

.landing {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.header {
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 10px 0px 10px 0px;
}

.header img {
  max-width: 100%;
  height: auto;
}

.content {
    margin-top: 40px;
}

.content__textbox p {
    font-family: 'Source Sans Pro', Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 400;
    font-size: 0.9em;
    margin: 20px;
}


.content__links{
    display: flex;
    list-style-type: none;
    margin: 5px;
    padding: 0px 5px;
    display: flex;
    align-items: center;
  }

  .content__links :global(a){
    display: block;
    text-decoration: none;
  }

  .content__link {
    width: 100%;
    margin: 0px 4px;
  }

  .content__linkD {
    display: block;
    width: 100%;
    padding: 4px 0px;
    color: #0066cc;
    background: #fff;
    border-radius: 4px;
    transition: all .3s;
    align-content: center;
    border: 3px solid #0066cc;
    text-align: center;
  }
  
  .content__linkD:hover {
    background: #0066cc;
    color: #fff;
    transition: all .3s;          
  }